@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }

  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1s;
    }
  }


  @keyframes fades {
    from {
      opacity: 0;
      transform: translateX(-100px);
      filter: blur(5px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
      filter: blur(0);
    }
  }

  .block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .fade-in {
    animation: fades linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .devIcon:nth-child(1), .devIcon:nth-child(8) {
    animation-delay: 0ms;
  }
  .devIcon:nth-child(2), .devIcon:nth-child(9) {
    animation-delay: 200ms;
  }
  .devIcon:nth-child(3), .devIcon:nth-child(10) {
    animation-delay: 400ms;
  }
  .devIcon:nth-child(4), .devIcon:nth-child(11) {
    animation-delay: 600ms;
  }
  .devIcon:nth-child(5), .devIcon:nth-child(12) {
    animation-delay: 800ms;
  }
  .devIcon:nth-child(6), .devIcon:nth-child(13) {
    animation-delay: 1000ms;
  }
  .devIcon:nth-child(7) {
    animation-delay: 1200ms;
  }